.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1{
    flex-grow: 2;
    width: 100%;
    font-size: 30px;
    margin-left: 20px;
}

.places article{
    flex-basis: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    display: flex;
    flex-wrap: wrap;
}
.places article .aside-nplace{
    width: 85px;
    height: 85px;
}
.places article h2{
    text-align: center;
    font-size: 30px;
    flex-grow: 2;
}

.places article .price_by_night{
    border: 3px solid #FF5A5F;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    text-align: center;
    padding: auto;
    color: #FF5A5F;
}

.places article .information{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    margin: 10px 0;
    padding: 10px 0;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms{
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information .max_guest h4,
.information .number_rooms h4,
.information .number_bathrooms h4{
    margin: 0;
}


.icon-guest{
    height: 53px;
    width: 53px;
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;

}
.icon-rooms{
    height: 53px;
    width: 53px;
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
}
.icon-bathrooms{
    height: 53px;
    width: 53px;
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
}

.icon-tv{
    height: 50px;
    width: 50px;
    background-image: url("../images/icon_tv.png");
    background-repeat: no-repeat;
}

.icon-wifi{
    height: 50px;
    width: 50px;
    background-image: url("../images/icon_wifi.png");
    background-repeat: no-repeat;
}

.icon-pet{
    height: 50px;
    width: 50px;
    background-image: url("../images/icon_pets.png");
    background-repeat: no-repeat;
}

article .amenities,
article .reviews{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

article .amenities h2,
article .reviews h2{
    margin: 0;
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: start;
}

article .amenities ul,
article .reviews ul{
    list-style: none;
    padding: 0;
}

article .amenities ul li{
    display: flex;
    flex-direction: row;
}

article .reviews p{
    margin: 5px 0;
}

article .reviews h3{
    margin: 20px 0 0 0;
}